# Requirements
Flask==1.1.1
pyOpenSSL==19.0.0
dnslib==0.9.10

# Implicit requirements to make Python part reproducable
Jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==0.16.0
cffi==1.13.2
click==7.0
cryptography==2.8
itsdangerous==1.1.0
pycparser==2.19
six==1.12.0
