# Requirements
Flask==1.1.2
pyOpenSSL==19.1.0
dnslib==0.9.14
cryptography==3.0

# Implicit requirements to make Python part reproducable
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
cffi==1.14.1
click==7.1.2
itsdangerous==1.1.0
pycparser==2.20
six==1.15.0
